# Sets the location of the flask application object: https://flask.palletsprojects.com/en/2.3.x/cli/#application-discovery
# Needed because of the presence of the "todo_app" folder
FLASK_APP=todo_app/app

# Turn on debug mode (which enables reloading on code changes and the interactive debugger: https://flask.palletsprojects.com/en/2.3.x/config/#DEBUG)
FLASK_DEBUG=true

# Trello API configuration
TRELLO_API_BASE_URL=https://api.trello.com
TRELLO_API_KEY=missing
TRELLO_API_TOKEN=missing
TRELLO_BOARD_ID=missing
TO_DO_LIST_ID=missing
DOING_LIST_ID=missing
DONE_LIST_ID=missing