{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Your To-Dos</h2>
      <ul class="list-group mb-4" id="to-do-list" style="list-style: none;">
        {% for item in view_model.to_do_items -%}
            <li>{{ item.status }}: {{ item.title }}</li>
            <form action="/start/{{item.id}}" method="post">
              <div>
                <input type="submit" value="Start item" />
              </div>
            </form>
            <form action="/complete/{{item.id}}" method="post">
              <div>
                <input type="submit" value="Mark as complete" />
              </div>
            </form>
            <form action="/delete/{{item.id}}" method="post">
              <div>
                <input type="submit" value="Delete" />
              </div>
            </form>
        {% endfor %}
      </ul>
      <ul class="list-group mb-4" id="doing-list" style="list-style: none;">
        {% for item in view_model.doing_items -%}
            <li>{{ item.status }}: {{ item.title }}</li>
            <form action="/complete/{{item.id}}" method="post">
              <div>
                <input type="submit" value="Mark as complete" />
              </div>
            </form>
            <form action="/delete/{{item.id}}" method="post">
              <div>
                <input type="submit" value="Delete" />
              </div>
            </form>
        {% endfor %}
      </ul>
      <ul class="list-group mb-4" id="done-list" style="list-style: none;">
        {% for item in view_model.done_items -%}
            <li>{{ item.status }}: {{ item.title }}</li>
            <form action="/delete/{{item.id}}" method="post">
              <div>
                <input type="submit" value="Delete" />
              </div>
            </form>
        {% endfor %}
      </ul>
    </div>
  </div>

  <form action="/" method="post">
    <div>
      <label for="new_to_do">New to-do: </label>
      <input type="text" name="new_to_do" id="new_to_do" required />
    </div>
    <div>
      <input type="submit" value="Add" />
    </div>
  </form>

{% endblock %}